body {
  margin: 0px;
  background-color: black;
}

.page {
  height: 100vh;
  display: grid;
  place-items: center;
}

.container {
  font-size: 72pt;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.container div {
  display: grid;
  place-items: center;
  cursor: pointer;
}
